table {
  th {
    cursor: pointer;

    &.sorted {
      &.asc::after {
        display: inline-block;
        content: '▼';
      }
      &.desc::after {
        display: inline-block;
        content: '▲';
      }
    }
  }
}
