/* ========================================
    全体
========================================= */
body {
    color: #4c4b4b;
}
/* ========================================
    ヘッダー
========================================= */
#header {
    width: 100%;
    height: 50px;
    position:fixed;
    display:block;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    top:0px;
}

#header h1 {
    width: 120px;
    height: 39px;
    margin-top: -10px;
    float: left;
}

nav {
    float: right;
    margin-top: -10px;
    margin-right: 30px;
    display: block;
}

nav ul li {
    float: left;
    margin-left: 30px;
    list-style: none;
}

nav ul li a {
    color: #555555;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

/* ========================================
    セクション
========================================= */
.section {
    text-align: center;
}
.section h2 {
    font-size: 45px;
}

/* ========================================
    フッター
========================================= */
#section-footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: #333;
    color: #f2f2f2;
}
#section-footer p{
    text-align: center;
}


/* ========================================
    メディアクエリ
========================================= */
@media screen and (max-width: 768px) {
    #header {
        width: 100%;
        height: 30px;
        position:fixed;
        display:block;
        background: #333;
        z-index:9;
        text-align:center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
        top:0px;
    }
    #header h1 {
        width: 100px;
        height: 39px;
        margin-top: -20px;
        float: left;
    }
    nav {
        display: none;
    }
    .section h2 {
        font-size: 25px;
    }
}


/* ========================================
    メディアクエリ
========================================= */
@media screen and (max-width: 480px) {
    #header {
        width: 100%;
        height: 30px;
        position:fixed;
        display:block;
        background: #333;
        z-index:9;
        text-align:center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
        top:0px;
    }
    #header h1 {
        width: 100px;
        height: 39px;
        margin-top: -20px;
        float: left;
    }
    nav {
        display: none;
    }
    .section h2 {
        font-size: 15px;
    }
    #section-footer p{
        font-size: 10px;
    }
}
